# **********************************************************************************
# Neopixel
# **********************************************************************************

# Activar solo si se conectan leds a esta salida, activado 20260211

[neopixel ebb42_neopixel]
  pin: EBB42:PD3
  chain_count: 8
  color_order: GRB
  initial_RED: 0.00
  initial_GREEN: 0.01
  initial_BLUE: 0.00