[mcu EBB42] # Direccion USB de la EBB42
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_250044001950425539383920-if00
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_250044001950425539383920-if00
restart_method: command

[temperature_sensor EBB42_CPU]  # Temperatura interna del procesador del toolhead EBB42 proporcionada por el propio microcontrolador
sensor_type: temperature_mcu
sensor_mcu: EBB42