[mcu rpi_pico]
#canbus_uuid: 095ce533b301
#serial: /dev/ttyAMA10

# Neopixel en GPIO23, hay que soldar el puente previsto en la placa, para que el Neopixel funcione
# por defecto, viene desconectado, puede desconectarse, si necesitas el GPIO23, con solo deshacer el puente de estaño

# serial: /dev/serial/by-id/usb-Klipper_rp2040_B5816597023C6A53-if00    # Pico clon 1
# serial: /dev/serial/by-id/usb-Klipper_rp2040_500314033882531C-if00    # Pico clon 2
# serial: /dev/serial/by-id/usb-Klipper_rp2040_50031403B87D9B1C-if00    # Pico clon 3
serial: /dev/serial/by-id/usb-Klipper_rp2040_5043637998756C1C-if00    # Pico clon 4
# serial: /dev/serial/by-id/usb-Klipper_rp2040_53032847189A489C-if00    # Pico Original

restart_method: command

# [temperature_sensor RPI_PICO_CPU]  # Temperatura interna del procesador del toolhead EBB42 proporcionada por el propio microcontrolador
# sensor_type: temperature_mcu
# sensor_mcu: rpi_pico